  <% if @listing.errors.any? %>
    <h2>Form is invalid</h2>
      <ul>
        <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
<%= form_for @listing do |f| %>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip %><br>
  <%= f.text_field :zip %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :dominatrix_dungeon %>
  <%= f.check_box :dominatrix_dungeon %><br>

  <%= f.label :meat_hooks %>
  <%= f.check_box :meat_hooks %><br>

  <%= f.label :torture_dungeon %>
  <%= f.check_box :torture_dungeon %><br>

  <%= f.label :smelly_dog %>
  <%= f.check_box :smelly_dog %><br>

  <%= f.label :pit_of_despair %>
  <%= f.check_box :pit_of_despair %><br>

  <%= f.label :jacuzzi %>
  <%= f.check_box :jacuzzi %><br>

  <%= f.label :photo %>
  <%= f.file_field :photo %><br>


  <%= f.submit 'Add listing' %><br>
<% end %>
