<%= image_tag @listing.photo.url(:large) %>
<h2><%= @listing.address %></h2><hr>

<%= render 'layouts/errors', :object => @booking %>

<%= form_for @booking do |f| %>
  <%= f.label :start_date %><br>
  <%= f.date_field :start_date %><br>

  <%= f.label :end_date %><br>
  <%= f.date_field :end_date %><br>

  <%= f.hidden_field :listing_id, value: @listing.id %><br>

  <%= f.submit 'Book!', :class => "btn btn-success" %>
<% end %>
<br>

<div class='cal'>
  <div class="col-lg-15">
    <div id="calendar">
      <h2 id="month">
        <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
        <%= h @date.strftime("%B %Y") %>
        <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
      </h2>
      <%= calendar_for @bookings do |c| %>

        <%= c.head("Monday","Tuseday","Wednesday","Thursday","Friday","Saturday","Sunday") %>
        <%= c.day(:day_method => :start_date) do |d, booking| %>
          <%= d.day %>
            <ul>
              <% for booking in @bookings %>
                <% if booking.date_range.include?(d) && booking.booking_months.include?(d.month) %>
                  <li class="red"> Reserved <%= d.month %></li>
                <% end %>
              <% end %>
            </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
