<%= image_tag @user.avatar.url :medium %>
<h3>Your existin listins</h3>
<ul>
  <% @user.listings.each do |listing| %>
    <li class="listing"> <%= image_tag listing.photo.url(:small) %>
      <%= listing.address %> | <%= listing.description %> | <%= link_to "Edit Listing", edit_listing_path(listing)%></li>
  <% end %>
</ul>
<%= link_to "Post new Listing", new_listing_path, class: 'btn btn-alert' %>
<br>
<%= link_to "Edit Profile", edit_user_registration_path(current_user), class: 'btn btn-primary'%>
